.container {
  padding-inline: 20px;
}

@media (width >= 744px) {
  .container {
    max-width: 600px;
    margin-inline: auto;
    padding-inline: 72px;
  }
}

@media (width >= 1260px) {
  .container {
    max-width: 1020px;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

.footer {
  background-image: url("footer.0a9dda45.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

@media (width >= 744px) {
  .footer {
    height: 480px;
  }
}

@media (width >= 1260px) {
  .footer {
    height: 555px;
  }
}

.contact {
  --colums: 2;
  grid-template-columns: repeat(var(--colums), 1fr);
  gap: 48px 20px;
  display: grid;
}

@media (width >= 744px) {
  .contact {
    --colums: 6;
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .contact {
    --colums: 12;
  }
}

.contact__form {
  grid-column: 1 / -1;
  row-gap: 32px;
  display: grid;
}

@media (width >= 744px) {
  .contact__form {
    grid-column: span 3;
  }
}

@media (width >= 1260px) {
  .contact__form {
    grid-column: span 5;
  }
}

.contact__form__inputs {
  row-gap: 16px;
  display: grid;
}

.contact__form__inputs--string {
  box-sizing: border-box;
  border-radius: 40px;
  height: 48px;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact__form__inputs--string:hover::placeholder {
  color: #292929;
}

.contact__form__inputs--string:focus {
  border: none;
  outline: none;
}

.contact__form__inputs--area {
  box-sizing: border-box;
  resize: none;
  border-radius: 16px;
  height: 148px;
  padding: 14px 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact__form__inputs--area:hover::placeholder {
  color: #292929;
}

.contact__form__inputs--area:focus {
  border: none;
  outline: none;
}

.contact__form--button {
  border-radius: 40px;
  height: 56px;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
}

.contact__form--button:hover {
  box-shadow: 1px 4px 16px #e8e8f066;
}

.contact__form--button:active {
  box-shadow: 1px 4px 16px #e8e8f0a3;
}

.contact__info {
  grid-column: 1 / -1;
  row-gap: 24px;
  display: grid;
}

@media (width >= 744px) {
  .contact__info {
    grid-column: span 3;
  }
}

@media (width >= 1260px) {
  .contact__info {
    grid-column: 8 / -1;
  }
}

.contact__info--title {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact__info--text {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}

.details__wrapper {
  row-gap: 40px;
  display: grid;
}

@media (width >= 744px) {
  .details__wrapper {
    row-gap: 48px;
  }
}

.detail__photos {
  --colums: 2;
  grid-template-columns: repeat(var(--colums), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 744px) {
  .detail__photos {
    --colums: 6;
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .detail__photos {
    --colums: 12;
  }
}

.detail__link {
  position: relative;
}

@media (width >= 744px) {
  .detail__link--wide {
    grid-column: span 4;
  }
}

@media (width >= 1260px) {
  .detail__link--wide {
    grid-column: span 8;
  }
}

.detail__link--square {
  height: 0;
  padding-bottom: 100%;
}

@media (width >= 744px) {
  .detail__link--square {
    grid-column: span 2;
  }
}

@media (width >= 1260px) {
  .detail__link--square {
    grid-column: span 4;
  }
}

.detail__photo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.detail__title {
  font-size: 24px;
  font-weight: 700;
}

.detail__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.product__title {
  font-size: 24px;
  font-weight: 700;
}

.product__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
}

.product__price {
  font-size: 24px;
  font-weight: 700;
}

.product__photo {
  width: 100%;
  transition: transform .3s;
}

.product__photo:hover {
  transform: scale(1.2);
}

.compare-bakes__product {
  --colums: 2;
  grid-template-columns: repeat(var(--colums), 1fr);
  gap: 40px 20px;
  display: grid;
}

@media (width >= 744px) {
  .compare-bakes__product {
    --colums: 6;
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .compare-bakes__product {
    --colums: 12;
  }
}

.compare-bakes__products {
  grid-column: 1 / -1;
}

@media (width >= 744px) {
  .compare-bakes__products {
    grid-column: 2 / -2;
  }
}

@media (width >= 1260px) {
  .compare-bakes__products {
    grid-column: span 4;
  }
}

.about-us {
  --colums: 2;
  grid-template-columns: repeat(var(--colums), 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 744px) {
  .about-us {
    --colums: 6;
    column-gap: 24px;
  }
}

@media (width >= 1260px) {
  .about-us {
    --colums: 12;
  }
}

.about-us--title {
  grid-column: 1 / -1;
}

@media (width >= 744px) {
  .about-us--title {
    grid-column: 1 / 4;
  }
}

@media (width >= 1260px) {
  .about-us--title {
    grid-column: span 5;
  }
}

.about-us-text {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  font-size: 23px;
  font-weight: 500;
}

@media (width >= 744px) {
  .about-us-text {
    grid-column: 4 / -1;
  }
}

@media (width >= 1260px) {
  .about-us-text {
    grid-column: span 5;
  }
}

.main__content {
  color: #fff;
  row-gap: 92px;
  padding-block: 60px;
  display: grid;
}

@media (width >= 744px) {
  .main__content {
    row-gap: 120px;
    padding-block: 120px;
  }
}

@media (width >= 1260px) {
  .main__content {
    row-gap: 144px;
    padding-block: 120px;
  }
}

.section__title {
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0;
  margin-bottom: 48px;
  font-size: 32px;
  font-weight: 500;
}

@media (width >= 744px) {
  .section__title {
    font-size: 48px;
  }
}

@media (width >= 1260px) {
  .section__title {
    margin-bottom: 56px;
    font-size: 64px;
  }
}

.section__title--aligh--left {
  text-align: left;
}

.page {
  scroll-behavior: smooth;
  background-color: #1d1d1d;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  margin: 0;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  transition: all .3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateX(-100%);
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.header {
  background-image: url("Velo-bg.cd671b7c.png");
  background-position: 100%;
  background-size: cover;
}

@media (width >= 744px) {
  .header {
    background-position: center;
  }
}

.header__content {
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  display: flex;
}

.header__title {
  letter-spacing: -1.5px;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

@media (width >= 744px) {
  .header__title {
    font-size: 64px;
    line-height: 64px;
  }
}

@media (width >= 1260px) {
  .header__title {
    font-size: 64px;
    line-height: 64px;
  }
}

.header__buttom {
  padding-bottom: 88px;
}

@media (width >= 744px) {
  .header__buttom {
    padding-bottom: 130px;
  }
}

@media (width >= 1260px) {
  .header__buttom {
    padding-bottom: 200px;
  }
}

.top-bar {
  padding-block: 24px;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  padding: 0;
  display: flex;
}

@media (width >= 744px) {
  .top-bar {
    padding-block: 36px;
  }
}

.top-bar__icons {
  gap: 24px;
  display: flex;
}

.top-bar__logo-link {
  display: flex;
}

.top-bar__logo {
  height: 38px;
  transition: transform .3s;
}

.top-bar__logo:hover {
  transform: scale(1.2);
}

@media (width >= 744px) {
  .top-bar__logo {
    height: 56px;
  }
}

.menu {
  box-sizing: border-box;
  font-weight: 600px;
  text-transform: uppercase;
  background-color: #c2c2c2;
  height: 100vh;
  overflow: auto;
}

.menu__top {
  z-index: 1;
  background-color: #c2c2c2;
  margin-bottom: 24px;
  position: sticky;
  top: 0;
}

.menu__nav {
  margin-bottom: 40px;
}

.menu__phone-number {
  color: #1d1d1d;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 27px;
  text-decoration: none;
  display: block;
}

.menu__book-test {
  color: #1d1d1d;
  letter-spacing: 2px;
  border-bottom: 1px solid #1d1d1d;
  width: fit-content;
  padding-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  display: block;
}

.nav__link {
  color: #1d1d1d;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}

.nav__link:after {
  content: "";
  transform-origin: 0;
  background-color: #1d1d1d;
  width: 100%;
  height: 1px;
  transition: transform .3s;
  display: block;
  position: absolute;
  bottom: -8px;
  transform: scale(0);
}

.nav__link:hover:after {
  transform: scale(1);
}

.nav__list {
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.icon {
  background-size: cover;
  width: 24px;
  height: 24px;
  transition: transform .3s;
  display: block;
  position: relative;
}

.icon:hover {
  transform: scale(1.2);
}

@media (width >= 744px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}

.icon--phone {
  background-image: url("Icon-Phone-call.cc0280b8.png");
}

.icon--phone:before {
  content: "+1 234 555-55-55";
  letter-spacing: 2px;
  color: #fff;
  transform-origin: 100%;
  width: 148px;
  height: 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  transition: transform .3s;
  position: absolute;
  top: 10px;
  right: 30px;
  transform: scale(0);
}

.icon--phone:hover:before {
  transform: scale(1);
}

.icon--menu {
  background-image: url("Icon-Burger-menu.d132ec1b.png");
}

.icon--menu:hover {
  background-image: url("Icon-Burger-menu-hover.3554d783.png");
}

.icon--close {
  background-image: url("Icon-Close.ffdce17d.png");
}
/*# sourceMappingURL=index.971c2ea4.css.map */
